* {
  box-sizing: border-box;
} 

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}

.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 56px;
}

.form input {
  width: 272px;
  height: 40px;
  padding: 0 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
}

.form input:hover {
  border-color: black;
}

.form input:focus {
  border-color: #4e75ff;
}

.form button {
  width: 75px;
  height: 40px;
  border: none;
  border-radius: 8px;
  font-family: inherit;
  color: white;
  cursor: pointer;
  background-color: #4e75ff;
}

.form button:hover {
  background-color: #6c8cff;
}

.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  max-width: 1128px;
  margin: 32px auto;
}

.gallery-item {
  background: #fff;
  border: 1px solid #808080;
  flex-basis: calc((100% - 48px) / 3);
}

.gallery img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 4px 20px;
 
  font-size: 12px;
}

.info p {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
   font-weight: 600;
}

.info span{
  font-weight: 400;
}

.loader {
  display: none;
  margin: 40px auto;
  position: relative;
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}
.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
